@model IEnumerable<ApreensaoVeiculo.Dominio.Usuarios>

@{
    ViewBag.Title = "Usuário";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Cadastrar", "Usuario", new { @class = "btn btn-success" })
</p>

@*<p>
    @Html.ActionLink("Cadastrar", "Cadastrar")
</p>*@
<table class="table table-striped table-hover   ">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)

            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Codigo }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Codigo }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Codigo })
            </td>
        </tr>
    }

</table>
    